* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  position: absolute;
  top: 0;
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 25%;
  height: 50px;
}

#defaultOpen {left: 0;}
#Open2 {left: 25%;}
#Open3 {left: 50%;}
#Open4 {left: 75%;}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#Books {background-color: green;}
#Media {background-color: blue;}
#Archives {background-color: orange;}